body
{
    padding: 2rem 6.25rem;
}
#search-box #search-bar
{
    width: 50%;
}
#cart
{
    width: 35%;
}
#products
{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    text-align: center;
    margin: auto;
}
@media only screen and (max-width: 575px) {
    body
    {
        padding: 2rem 2rem;
    }
    #search-box #search-bar
    {
        width: 100%;
    }
}